body{
    margin:0;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 5%;
    background-color: rgb(78, 78, 227);
    color: white;
    font-family: "Arial";
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
header a{
    color: white;
    text-decoration: none;
}
#logo-name{
    display: flex;
    align-items: center;
}
#logo-name img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
#search{
    width: 80%;
    border-radius: 5px;
    border: none;
}
#search-box{
    width: 30%;
}
#search-btn{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(33, 179, 33);
    border: none;
    color: white;
}
nav{
    width: 100%;
    height: 5%;
    background-color: rgb(78, 78, 227);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
nav a{
    color: white;
    text-decoration: none;
}
#upload-content{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}
#image-upload{
    width: 300px;
    height: 80%;
    border: 1px dotted rgb(78, 78, 227);
    background-color: rgb(231, 231, 231);
    display: flex;
    justify-content: center;
    align-items: center;
}
#post-info{
    width: 30vw;
    height: 80%;
    border: 1px dotted rgb(78, 78, 227);
    background-color: rgb(231, 231, 231);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#post-info h2{
    color: rgb(78, 78, 227);
}
#post-info input{
    width: 80%;
    height: 36px;
}
#description{
    width: 80%;
    height: 20%;
}
#submit-btn{
    background-color: rgb(33, 179, 33);
    border: none;
    color: white;
    width: 30%;
    height: 36px;
}

#users-list{
    position: absolute;
    width: 150px;
    min-height: 100px;
    border: none;
    border-radius: 10px;
    background-color: rgb(231, 231, 231);
}


@media(max-width:720px){
    #upload-content{
        display: block;
        overflow-y: scroll;
    }
    #image-upload{
        width: 100%;
        height: 60vh;
        background-color: white;
        border: none;
        border-bottom: 2px dotted rgb(78, 78, 227);  
    }
    #post-info{
        width: 100%;
        height: 40vh;
        background-color: white;
        border: none;
    }
}