body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    resize: none;
}
.auth-box{
    width: 425px;
    height: 95vh;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(78, 78, 227);
    border-radius: 10px;
}
.auth-box h1{
    text-align: center;
    color: white;
    font-size: 3rem;
}
.input-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction:column ;
}
.input-box input{
    width: 80%;
    height: 36px;
    margin-bottom: 50px;
    border-radius:5px;
    border: none;
}

#submit-btn{
    width: 80%;
    height: 36px;
    background-color: rgb(33, 179, 33);
    color: white;
    border: none;
    font-weight: 800;
    margin-bottom: 10px;
}
#auth-link{
    color: white;
}
hr{
    background-color: white;
    width: 90%;
}
#error{
    background-color: red;
    width: 80%;
    height: 24px;
    color: white;
    display: none;
}
#google-auth{
    width: 80%;
    height: 36px;
    background-color: rgb(224, 224, 224);
    text-align: center;
    display: flex;
    flex-direction: column;
}
#google-auth p{
    margin: auto;
}

@media(max-width:425px){
    .auth-box{
        height: 100%;
        border-radius: 0;
        border: 0;
        
    }
}